.form {
  text-align: center;
  padding: 30px;
  margin-top: 60px;
}

.pForm {
  text-align: center;
  padding: 30px;
  margin-top: 0%;
}

.cover>img {
  width: 100%;
  height: 400px;
  border: 1px solid black;
}

.profile {
  position: relative;
  top: -140px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 0%;

}

.profile>img {
  border-radius: 50%;
  width: 220px;
  margin: 20px;
  border: 1px solid black;
}

.profile>span {
  /* vertical-align: center; */
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 35px;
}

/* #name{ padding-bottom: 30px; } */
/* #price{ padding-bottom: 30px; } */
/* #discription{ padding-bottom: 30px; } */
.card {
  border: 1px solid black;
  text-align: center;
  border-radius: 15px;
  margin: auto;
  width: 20%;
  /* border: 3px solid green; */
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
}
.postP{
  display: flex;
  margin-left: 15px;
}
.postP>.nam{
  padding-left: 20px;
  padding-bottom: 10px;
  top: 0px;
}
.postP>.nam>p{
  margin-top: 0px;
}
.postP>.nam>h3{
  margin-bottom: 0px;
}
.userView{
  align-self: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.usersList{
  align-self: center;
  text-align: center;
  border: 1px solid black;
  width: 300px;
  margin-top: 10px;
  border-radius: 10px 7px 10px 7px;
  padding-bottom: 10px;
  background-color: rgba(128, 128, 128, 0.411);
}
.messageView {
  display: flex;
  flex-direction: column;
}

.message {
  /* border: 1px solid black; */
  padding: 10px;

  max-width: 30rem;
  min-width: 13rem;
  margin: 5px;
}

.recipientMessage {
  max-width: 50%;
  word-break: break-all;
  align-self: flex-start;
  border-radius: 15px 15px 15px 0px;
  background-color: #E5E5EA;
}


.myMessage {
  max-width: 50%;
  word-break: break-all;
  align-self: flex-end;
  border-radius: 15px 15px 0px 15px;
  background-color: #007AFE;
  color: white;
}

.message .head {
  display: flex;
  flex-direction: column;
}

.message .name {
  font-weight: bold;
}

.notificationView{
  position: fixed;
  top: 0px;
  right: 0px;
  text-align: right;
}

.notificationView .item{
  background-color: rgba(128, 128, 128, 0.76);
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
}
.notificationView .title{
  font-weight: bold;
}
.linkk{
  text-decoration: none;
  color: black;
}
.sendsms{
  text-align: center;
  margin-bottom: 10px;
}
.userLink{
  text-decoration: none;
  color: black;
}
/* #num{
    word-wrap: break-word;
} */
@media screen and (max-width: 320px) {
  .card {
    width: 75%;
  }
}

@media screen and (max-width: 500px) and (min-width: 321px) {
  .card {
    width: 50%;
  }
}

@media screen and (max-width: 620px) and (min-width: 501px) {
  .card {
    width: 40%;
  }
}

@media screen and (max-width: 900px) and (min-width: 621px) {
  .card {
    width: 30%;
  }
}