.nav{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.nav>li{
    margin-right: 20px;
}
.nav>li>.butt{
    color: white;
}
.nav>li>.butt>a{
    text-decoration: none;
    font-weight: 700;
    color: white;
}
.nav>li>a:hover{
    text-decoration: none;
    padding-bottom: 50px;
    font-weight: 700;
    color: black;
}
.hamNav{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.hamNav>li{
    margin-right: 20px;
}
.hamButt > a {
    text-decoration: none;
    font-weight: 700;
}
.main{
    width: 100%;
}